.navbar {
  font-size: 3.5rem;
  text-decoration: none;
  width: 100%;
  text-align: center;
  //background-color: rebeccapurple;
  margin: 0;
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.404);
}
.nav-links {
  height: 6rem;
}
.btn {
  margin-left: 2rem;
  color: black;
  transition: all 0.5s;
  background-color: white;
  border-radius: 1rem;
  padding: 1rem;
  font-size: 3rem;
}
.btn:hover {
  transform: scale(1.2);
}
@media screen and (max-width: 1400px) {
  .navbar {
    height: 6rem;
    z-index: 2;
  }
}
@media screen and (max-width: 1024px) {
  .btn {
    font-size: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .btn {
    font-size: 0.9rem;
    padding: 0.5rem;
    margin: 0;
  }
}
@media screen and (max-width: 780px) {
  .btn {
    font-size: 1.3rem;
    padding: 0.5rem;
    margin: 0;
  }
}
