@use "_search.scss";
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 92.5%;
  color: white;
  height: 100vh;
  font-weight: 500;
}
body {
  background-color: #5b6467;
  background-image: linear-gradient(270deg, #5b6467 10%, #017de9 75%);
  animation: mist 1000ms ease-out;
}

section {
  height: 70%;
}

.header {
  font-size: 5.2rem;
  animation: load 1000ms ease-out;
  margin: 3rem auto;
  text-align: center;
}

@keyframes load {
  0% {
    transform: translateY(-100%);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes mist {
  0% {
    opacity: 90%;
    
  }

  100% {
    opacity: 0%;
  }


}

.loader-wrapper {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #242f3f;
  display:flex;
  justify-content: center;
  align-items: center;
}
.loader {
  display: inline-block;
  width: 30px;
  height: 30px;
  position: relative;
  border: 4px solid #Fff;
  animation: loader 2s ;
}
.loader-inner {
  vertical-align: top;
  display: inline-block;
  width: 100%;
  background-color: #fff;
  animation: loader-inner 2s;
}
@keyframes loader {
  0% { transform: rotate(0deg);}
  25% { transform: rotate(180deg);}
  50% { transform: rotate(180deg);}
  75% { transform: rotate(360deg);}
  100% { transform: rotate(360deg); opacity: 100%;}
}
@keyframes loader-inner {
  0% { height: 0%;}
  25% { height: 0%;}
  50% { height: 100%;}
  75% { height: 100%;}
  100% { height: 0%; opacity: 100%;}
}


.subheader {
  margin: 1rem auto 2rem auto;
  text-align: center;
  font-size: 3.8rem;
  animation: load 1000ms ease-out;
}
.games-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 90vw;
  height: 100%;
  margin: 1rem auto;
  padding: 2rem auto;
  align-items: center;
  
}

.games-card {
  height: 30vh;
  width: 25vw;

  position: relative;
  margin: 3rem auto;
  transition: all 1s;
}
.games-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;

  background-position: center;
  z-index: 3;

  transition: all 1s;
}
.poster {
  width: 100%;
  height: fit-content;
  border-radius: 5rem;
}
.games-card-back {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgba(33, 33, 33, 0.8);
  border-radius: 5rem;
  width: 100%;
  height: 9.2rem;
  transition: all 1s;
}
.games-card-header {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
.score-box,
.release-box,
.price-box {
  text-align: center;
  margin: 0;
}

.games-genres {
  font-size: 1.5rem;
  padding: 1rem 2rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.games-genre {
  list-style: none;
}
.price {
  font-size: 1.5rem;
  margin: 1rem auto;
}
.criticsTitle,
.savings {
  font-size: 1.5rem;
  margin: 0;
}

.games-card:hover .games-card-front {
  z-index: 1;
  transition: all 1s;
}
.games-card:hover .games-card-back {
  z-index: 3;
  display: flex;
  transition: all 1s;
}
.test {
  color: black;
  font-size: 3rem;
}
