@use "_search.scss";
@use "btn-navbar";
html,
body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-size: 92.5%;
  color: white;
  height: 100vh;
  font-weight: 500;
}
body {
  background-color: #5b6467;
  background-image: linear-gradient(270deg, #5b6467 10%, #017de9 75%);
}

.main {
  text-align: center;
  opacity: 0;
  display: none;
  transition: opacity 2s ease-in;
}

section {
  height: 75%;
}

.header {
  font-size: 5.2rem;

  margin-top: 5rem;
  text-align: center;
}

.subheader {
  margin: 1rem auto 2rem auto;
  text-align: center;
  font-size: 3.8rem;
}

.games-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 90vw;
  height: 100%;
  margin: auto;
  margin-bottom: 5rem;
  padding: 2rem auto;
  align-items: center;
}

.games-card {
  height: 30vh;
  width: 25vw;
  position: relative;
  margin: auto;
  margin-bottom: 15rem;
  transition: all 1s;
}
.games-card-front {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-position: center;
  z-index: 3;
  transition: all 1s;
}
.poster {
  width: 100%;
  height: 50%;
}
.games-card-back {
  position: absolute;
  top: 10rem;
  left: 0;
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  color: white;
  background-color: rgba(33, 33, 33, 0.911);
  width: 100%;
  height: fit-content;
  transition: all 1s;
  margin-bottom: 5rem;
}
.games-card-header {
  font-size: 2rem;
  text-transform: uppercase;
  margin: 0;
  text-align: center;
}
.score-box,
.release-box,
.price-box {
  text-align: center;
  margin: 0;
}

.games-genres {
  font-size: 1.5rem;
  padding: 1rem 1rem;
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
}
.games-genre {
  list-style: none;
}
.price {
  font-size: 1.5rem;
  margin: 1rem auto;
}
.criticsTitle,
.savings {
  font-size: 1.5rem;
  margin: 0;
}

.games-card:hover .games-card-front {
  z-index: 1;
  transition: all 1s;
}
.games-card:hover .games-card-back {
  z-index: 3;
  display: flex;
  transition: all 1s;
}
.test {
  color: black;
  font-size: 3rem;
}
